<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>jspFilter</filter-name>
        <filter-class>filter.jspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>rightFilter</filter-name>
        <filter-class>filter.rightFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>jspFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/infor</url-pattern>
        <url-pattern>/makeQuiz</url-pattern>
        <url-pattern>/manageQuiz</url-pattern>
        <url-pattern>/prepareQuiz</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>rightFilter</filter-name>
        <url-pattern>/makeQuiz</url-pattern>
        <url-pattern>/manageQuiz</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inforController</servlet-name>
        <servlet-class>controller.inforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeQuizController</servlet-name>
        <servlet-class>controller.makeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageQuizController</servlet-name>
        <servlet-class>controller.manageQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeQuizController</servlet-name>
        <servlet-class>controller.takeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prepareQuizController</servlet-name>
        <servlet-class>controller.prepareQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultQuizController</servlet-name>
        <servlet-class>controller.resultQuizController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inforController</servlet-name>
        <url-pattern>/infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeQuizController</servlet-name>
        <url-pattern>/makeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageQuizController</servlet-name>
        <url-pattern>/manageQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeQuizController</servlet-name>
        <url-pattern>/takeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prepareQuizController</servlet-name>
        <url-pattern>/prepareQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultQuizController</servlet-name>
        <url-pattern>/resultQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
